<!DOCTYPE html>

<header>
<meta charset="UTF-8">
<title>web</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">
</header>
<body>
    <div  class="container">
        <form id="formElem" >
          <input type="file" id="image-input" accept="image/*" name="image">
            <div id="display-image" class="imag"></div>
          <input type="submit">
        </form>
          <div id="receive-image" class="imag" ></div> 
    </div>
</body> 
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>

